.header {
  color: var(--dark-color);
  background-color: #f9f5ff;
  padding: 4rem;
  width: 100%;
  text-align: center;
}

.header .container .content h1 {
  color: #42307d;
}

.badge {
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 1rem;
}

.header .container .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .container .content > div > * {
  margin-bottom: 1rem;
}

.header .container .content > div > h1 {
  font-size: 2.5rem;
}

.header .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  background-image: url("../public/images/search_FILL0_wght200_GRAD0_opsz24.png");
  background-repeat: no-repeat;
  background-position: left center;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  width: 320px;
  font-size: 1rem;
  padding: 8px 16px;
  padding-left: 25px;
}

.search-bar:focus {
  outline: none;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
