@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-color: #d6bbfb;
  --secondary-color: #e9d7fe;
  --light-color: #f4ebff;
  --dark-color: #6941c6;
}

html {
  font-family: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.category {
  font-size: 14px;
  color: var(--dark-color);
  font-weight: 600;
}
